.header {
    display: flex;
}

.header_body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f1eeef;
    width: 50%;
    font-size: 14px;
}

.header_age {
    display: flex;
    background-color: #e6e3e4;
    color: gray;
    font-size: 14px;
    padding: 2px;
}

.header_item {
    cursor: pointer;
}

.header_item:hover {
    text-decoration: underline;
}

.header_image {
    width: 25px;
    padding: 0 10px 0 15px;
}

.gray {
    color: gray;
}